<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .jumbotron(itemscope='name',content='Hero_banner_with_parallax')
                .jumbotron-content
                    h1.display-4(itemprop="heroTitle") Hey, it's a hero banner!
                    p.lead(itemprop="heroContent")
                        | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
        